<div class="container-fluid">
    <div class="row">
        <div id="sidebar-left" class="col-xs-12 col-md-2 no-padding" *ngIf="authService.isLoggedIn()">
            <div id="main-menu" class="main-menu collapse navbar-collapse no-padding">
                <nav class="navbar navbar-expand-sm navbar-default">

                    <div class="navbar-header">
                        <a routerLink="/">
                            <i class="fa fa-address-book-o fa-3x"></i>
                        </a>
                    </div>
        
                    <div id="main-menu" class="main-menu collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a routerLink="/"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                            </li>
                            <li class="menu-item-has-children dropdown" (click)="toggle()" [class.expanded]="isExpanded">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                    <i class="menu-icon fa fa-tasks"></i>Books
                                </a>
                                <ul class="sub-menu children dropdown-menu" [ngClass]="isExpanded?'show':''">
                                    <li>
                                        <i class="menu-icon fa fa-tasks"></i>
                                        <a routerLink="/book-list">Book List</a>
                                    </li>
                                    <li>
                                        <i class="menu-icon fa fa-tasks"></i>
                                        <a routerLink="/books/add">Create New Book</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/profile"> <i class="menu-icon fa fa-user"></i>Profile</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div><!-- /.navbar-collapse -->
        </div>
        <div id="main-content" class="col-xs-12 no-padding" [ngClass]="authService.isLoggedIn()?'col-md-10':'col-md-12'">
            <header *ngIf="authService.isLoggedIn()" class="header col-xs-12"></header>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>